* {
	margin: 0;
	padding: 0;
}

body  {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	outline: none;
}

.wrap {
	width: 100%;
	height: 100vh;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.wrap__backgroung {
	background: $black;
}
.route-editor {
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-flex-grow: 1;
	        flex-grow: 1;
}
.container {
	margin: 20px auto;
	width: 80%;
	display: flex;
}

.content {
	width: 100%;
	height: 100%;
}
.content__backgroung {
	background: $gray;
}